.add-edit-flashcard-form {
    padding: 20px;
    border-radius: 8px;
    height: 180px;
    width: 250px;
}

.input-field {
    margin-bottom: 10px;
    border: 2px solid #f78888; 
    color: black; 
    padding: 10px;
    border-radius: 4px;
}



.input-field:focus {
    border-color: #90ccf4; 
    box-shadow: 0 0 5px #90ccf4; 
}

.save-button {
    background-color: #5da2d5; 
    border-color: #5da2d5; 
    color: white; 
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #90ccf4; 
    border-color: #90ccf4; 
}
