.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 250px;
}

.file-input {
    display: none;
}

.file-upload-box {
    width: 200px;
    height: 100px;
    border: 2px dashed #f78888;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    color: black;
}

.file-upload-box:hover {
    background-color: #f7baba;
    border-color: #f78888;
}

.upload-button {
    width: 40%;
    border-radius: 20px;
    height: 50%;
    background-color: #f78888;
}
